
@{
    ViewData["Title"] = "Formulario";
}

<h1 class="text-center display-4">Cadastro de Fornecedores de TI </h1>

<section class="row">

    <div class="col"></div>
    <div class="container col">
        <form method="post" asp-controller="Fornecedor" asp-action="Cadastrar" name="formularioAdicionar">

            <div class="form-group">
              <label for="Nome">Nome:</label>
                <input type="text" class="form-control" id="nome"  required placeholder="Digite o nome do fornecedor" name="nome">
            </div>

            <div class="form-group">
                <label for="CNPJ">CNPJ:</label>
                <input type="text" class="form-control" id="CNPJ" required maxlength="14" placeholder="Digite o CNPJ do fornecedor" name="cnpj">
            </div>

            <div class="form-group">
                <label for="Contato">Contato:</label>
                <input type="text" class="form-control" id="contato" required maxlength="9" placeholder="Digite o Contato do fornecedor" name="contato">
            </div>

            <div class="form-group">
                <label for="email">e-mail:</label>
                <input type="email" class="form-control" id="email" required placeholder="Digite o e-mail do fornecedor" name="email">
            </div>

            <div class="form-group">
                <label for="Anotações">Anotações:</label>
                    <br />
                <textarea class="form-control" name="anotacao" id="anotacoes" cols="25" rows="5"></textarea>
            </div>

            <button style="margin-top:1%;" class="btn btn-primary" type="submit">Adicionar</button>

    </form>
    </div>
    <div class="col"></div>

</section>


<script type="text/javascript" src="~/site.js"></script>


