<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ações do Usuarios</title>
</head>
<body>
    <header>

        <nav>
            <a href="Index.html">Lista de Fornecedores</a>
        </nav>
        <h1>Ações dos Usuários</h1>
    </header>
<section>
    <ul>
        <!-- Dados do objeto ação -->
        <li>
            <h2>Nome usuário</h2>
            <h3>Ação</h3>
            <h3>Data</h3>
            <h3>Forcedor</h3>
        </li>

    </ul>

</section>

<footer>
<p>fim página</p>
</footer>

</body>
</html>