@model IEnumerable<AgendaFornecedores.Models.GrupoTrabalho>
@using Microsoft.AspNetCore.Mvc;

@{
    Layout = "_Layout";
}

<section>

    <h1 class ="display-4"  >Adicionar grupo de acesso </h1>

    <form onsubmit="return adicionarGrupo()">
        <fieldset class="form-group">
            <h2>Digite o nome do grupo que deseja adicionar</h2>
            <br />
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Nome do grupo" name="nome_grupo" />
            <br />

        </fieldset>
        
        <button class="btn btn-primary " type="submit">Adicionar</button>
    </form>
    <br />

    <h3>Grupos permitidos para administradores</h3>
    <br />

    @foreach (GrupoTrabalho gP in Model)
    {
        <h4>@gP.Nome_grupo</h4>
    }
</section>