@model IEnumerable<AgendaFornecedores.Models.GrupoAcesso>
@using Microsoft.AspNetCore.Mvc;

@{
    Layout = "_Layout";
}

<section>

    <h1 class ="display-4"  >Adicionar grupo de acesso </h1>

    <form onsubmit="return adicionarGrupo()" asp-controller="GrupoAcesso" asp-action="AdicionarGrupoAcesso">
        <fieldset class="form-group">
            <h3>Digite o nome do grupo que deseja adicionar</h3>
            <br />
            <label>Nome</label>
            <input type="text" class="form-control" required placeholder="Nome do grupo" name="nome_grupo" />

            <input type="radio" value="true" name="fulladm"  /> Full Administrador
            <br />

        </fieldset>
        
        <button class="btn btn-primary " type="submit">Adicionar</button>
    </form>
    <br />

    <h4>Grupos permitidos para administradores</h4>
    <br />

</section>
<section>

    <table class="col">

        <tr class ="row-cols-auto">
            <th class="col">
                <h5 class="col">Nome</h5>
            </th>
            <th class="col">
                <h5 class="col">Status</h5>
            </th>
        </tr>
            <!--pensar numa forma de realizar uma quebra de coluna a cada 5 grupos-->
            
            @foreach (GrupoAcesso gP in Model)
            {
                <tr class ="row-cols-auto">

                    <td class="col">
                        <h6>@gP.Nome_grupo</h6> 
                    </td>

                    <td class="cols">
                        @if (gP.Fulladm)
                        {
                            <h6> Administrador</h6>
                        }
                        else
                        {
                            <h6> Intermediário</h6>
                        }
                    </td>

                    <td class ="cols">
                    <form asp-controller="GrupoAcesso" asp-action="ApagarGrupoAcesso">
                            <input hidden value="@gP.Id" name="idGrupo">
                        <button class="col btn btn-outline-secundary btn-light" type="submit"> Deletar grupo</button>
                        </form>
                    </td>
                </tr>
            }
        
       
    </table>

</section>



    
