@model IEnumerable<AgendaFornecedores.Models.GrupoAcesso>
@using Microsoft.AspNetCore.Mvc;

@{
    Layout = "_Layout";
}

<section>

    <h1 class ="display-4"  >Adicionar grupo de acesso </h1>

    <form onsubmit="return adicionarGrupo()" asp-controller="GrupoTrabalho" asp-action="AdicionarGrupoAcesso">
        <fieldset class="form-group">
            <h3>Digite o nome do grupo que deseja adicionar</h3>
            <br />
            <label>Nome</label>
            <input type="text" class="form-control" required placeholder="Nome do grupo" name="nome_grupo" />

            <input type="radio" value="1"  name="fulladm" /> Full Administrador
            <br />

        </fieldset>
        
        <button class="btn btn-primary " type="submit">Adicionar</button>
    </form>
    <br />

    <h4>Grupos permitidos para administradores</h4>
    <br />

</section>
<section>

    <table>
        @{
            //pensar numa forma de realizar uma quebra de coluna a cada 5 grupos
            int grupos = 0;
            foreach (GrupoAcesso gP in Model)
            {
                grupos ++;
                <tr>

                    <td>
                        <h5>@gP.Nome_grupo</h5>

                        <form asp-controller="GrupoTrabalho" asp-action="Apagar">
                        <input hidden value="@gP.Nome_grupo" name="nomeGrupo">
                        <button type="submit"> Deletar grupo</button>
                        </form>
                    </td>

                </tr>
            }
        }
       
    </table>

</section>



    
