@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<section class="row">

    <h1 class="text-center display-4">Envio de notas </h1>

    <div class="col"></div>
    <div class="container col">
        <form onsubmit="return VerificaDestinatario()" asp-controller="Fornecedor" asp-action="EnviarNota">
            
            <div class="form-group">
                <label>Email destinatario</label>
                <input type="text" class="form-control" name="destinatario">
            </div>

            <div class="form-group">
                <label>Mensagem</label>
                <textarea name="mensagem" class="form-control" name="mensagem" cols="25" rows="5" ></textarea>

            </div>
            <button style="margin-top:1%;" class="btn btn-primary" type="submit">enviar</button>

        </form>

        <p>@TempData["EnvioDeNotas"]</p>
    </div>
    <div class="col"></div>
</section>