@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Lista de fornecedores</h1>

    <p>Aqui jaz o primeiro texto modificado desse projeto em .NET Core</p>


    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
