<!--page-->
<!--model AgendaFornecedores.Views.Home.ListadeAcoesModel-->
@{
    ViewData["Title"] = "Lista de Ações";

}
<h1>@ViewData["Title"]</h1>

<ul>
@{
    for(int i = 0;i <2; i++)
    {
            <li> <h2>Aqui aparecerão todos as realizações dos usuarios desse sistema</h2></li>
       
    }
}
</ul>